.all-body{
    padding: 0;
    margin: 0 auto;
    background-color: orangered;
    border: solid 2px black;
}

.image {
    text-align: center;
    margin-top: 9px;
    border: solid 1px black;
}

.info{
    padding-left: 9px;
    font-size: 19px;
    font-family: 'Rubik', sans-serif;
    
}

.p-1{
    border: 1px solid;
    padding-bottom: 10px;
    padding-top: 9px;
    padding-left: 20px;
    padding-right: 20px;
}

.h-1{
   text-decoration-line: underline;
}

.p-2{
    border: 1px solid black;
    padding-bottom: 10px;
    padding-top: 9px;
    padding-left: 20px;
    padding-right: 20px;

}

.h-2{
    text-decoration-line: underline;
    border: none;
}

.over-img{
    border: 1px solid black;
    margin-right: 1133px;
}

.evolucian-img{
    margin-bottom: 10px;
}

.tex{
    margin-bottom: 10px;
    padding-left: 5px;
    text-align: left;
}

.end{
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}